//@import "common/common";

body {
  height: 100%;
  font: 62.5% 'Roboto', sans-serif;
}

html {
  min-width: 940px;
  background-image: linear-gradient(130deg, #FFFFFF, #84bd00);
  background-repeat: no-repeat;
  background-size: auto;
}

html,
body {
  overflow: auto;
}

.body-content {
  width: 940px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.header-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 500px;
  padding: 10px 0;
  align-items: center;
}

.logo-img {
  height: 70px;
  width: 70px;
}

.main-body {
  height: 100%;
  padding: 20px;
}
