@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #efefef;
$greencolor: #4CA64C;
$greycolor: #808080;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;
$redcolor:#FF0000;


body {
    height: 100%;
    font: 62.5% 'Roboto', sans-serif;
}

.show-error {
    color: $redcolor;
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.show-green {
    background-color: $greencolor;
}

.show-grey {
    background-color: $greycolor;
}

.enabled {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

.customer-table {
    border: 2px solid #A8A8A8;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.customer-table th,
.customer-table td {
    padding: 14px 8px;
    display: table-cell;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.customer-table th:first-child,
.customer-table td:first-child {
    padding-left: 16px;
}

// .customer-table tr:nth-child(even) {
//   background-color: #f1f1f1;
// }

.customer-table tr {
    border-bottom: 1px solid #ddd;
}
